:root {
    --text_color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

* {
    font-family: "Pompiere", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    color: var(--text_color);
    text-decoration: none;
}

a:hover {
    color: rgb(188, 167, 224);
}

.cart-icon {
    position: fixed;
    top: 100px;
    right: 50px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1000; /* Ensure it stays on top of other elements */
  }
