.cartContainer {
    position: absolute;
    top: 130px;
    right: 85px;
    background-color: #f7f7f7;
    color: rgb(159, 57, 255);
    border-radius: 30%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}
  
.cartContainer:hover {
    transform: scale(1.1);
    background-color: #a3f598a4;
}
  
.cart-item-actions span {
    font-size: 1.5rem;
}
  
@media (max-width: 768px) {
    .cart-item-actions {
      top: 180px; /* Adjust this value based on your header height */
      right: 15px;
      width: 50px;
      height: 50px;
    }
  
    .cart-item-actions span {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 480px) {
    .cart-item-actions {
      top: 180px; /* Adjust this value based on your header height */
      right: 10px;
      width: 40px;
      height: 40px;
    }
  
    .cart-item-actions span {
      font-size: 1rem;
    }
  }